body {
    background-color: #384f7d;
    text-align: center;
    color: white;
    font-weight: 600;
    font-family: ubuntu, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dog {
    background-color: black;
}

